<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo_56/blob/main/Actividad1_Equipo56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INSTITUTO TECNOLÓGICO Y DE ESTUDIOS SUPERIORES DE MONTERREY**
 

 
**Maestría en Inteligencia Artificial**

![LogoTec.jpg]()

**Presenta:**
**Actividad 1**

**Tema:**

****

**Materia:**

**TC4029.10 - Ciencia y Análitica de Datos**

**Profesor Titular:**
**Dr. Jobish Vallikavungal Devassia**

**Alumno:**

*   **A01793625 - Luis Angel Hermenegildo Dominguez**
*   **A01332665 - Hector Montañez Alvarez**




**octubre de 2022**

*  **El nombre que caracteriza el conjunto de datos:**

The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients

**URL DE LOS DATOS**

https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv

https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt
 (Yeh, 2009)

**Parte 1: Fundamentos de bases de datos**

Revisa la página Lecturas del tema 3: Conceptos de almacenamiento y recuperación de información, y describe tus insights o entendimiento de cada uno de los subtemas: (Alrededor de 200 palabras)

Fundamentos de bases de datos y para ciencia de datos.  
Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

**ESCRIBIR PARTE 1 AQUÍ**

**Parte 2: Selección y limpieza de los Datos en Python**

Para este actividad usa el base de datos encontrados por aqui Enlaces a un sitio externo.:  su descripción aquiEnlaces a un sitio externo.. 

Revisa detenidamente la página Ejercicio guiado para: Selección y limpieza de los Datos en PythonEnlaces a un sitio externo.
En Google Colab ( = Jupyter notebook, o bien alguna otra IDE de su interés), escribe tu código para realizar la selección y limpieza de los datos como se indica en el ejercicio.
Ejecuta tu código.
Explica con tus palabras (documentas las lineas del codigo en celdas del Text) como funciona tu programa indicando lo que realizaste en la programación, en minimum palabras.

Se importan librerias Pandas y Numpy para manejo de los datos

In [1]:
import pandas as pd
import numpy as np

Lectura del archivo

https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv', index_col=0)
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Validación de datos nulos

In [3]:
df.isnull().values.any()

True

In [4]:
df.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Se puede observar que casi todas las columnas cuentan con datos vacios.
A continuación, se procede con la limpieza de los datos nulos

**DESARROLLO AQUÍ**

**Parte 3: Preparación de los datos**

Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas: 

¿Qué datos considero mas importantes? ¿Por qué?

¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?

¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

Extensión: 400 palabras o más entre todas las respuestas.

**DESARROLLO AQUÍ O SOBRE LAS PREGUNTAS DE ARRIBA**

**Referencia bibliográfica**

Yeh, I. C., & Lien, C. H. (2009). The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients. Expert Systems with Applications, 36(2), 2473-2480.